<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
    
</head>
<body>
    <div  class="container"> 
        <div class=title>Employee Registration</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details"> Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Father Name</span>
                    <input type="text" placeholder="Enter Your Father Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Date Of Birth</span>
                    <input type="text" placeholder="Enter Your Date of Birth" required>
                </div>
                <div class="input-box">
                    <span class="details">Date Of Joining </span>
                    <input type="text" placeholder="Enter Your Date Of Joining " required>
                </div>
                <div class="input-box">
                    <span class="details">Designation</span>
                    <input type="text" placeholder="Enter your Designation" required>
                </div>
                <div class="input-box">
                    <span class="details">Communication Address</span>
                    <input type="text" placeholder="Enter your Communication Address" required>
                </div>
                <div class="input-box">
                    <span class="details">Parmanent Address</span>
                    <input type="text" placeholder="Enter your Parmanent Address" required>
                </div>
                <div class="input-box">
                    <span class="details">Contact Number</span>
                    <input type="text" placeholder="Enter your Contact Number" required>
                </div>
                <div class="input-box">
                    <span class="details">Email Id</span>
                    <input type="text" placeholder="Enter your Email Id" required>
                </div>
                <div class="input-box">
                    <span class="details">Salary</span>
                    <input type="text" placeholder="Enter your Salary" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your Email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" placeholder="Enter your Password" required>
                </div>
            </div>
            <div class="button" fxLayout="row" fxLayoutAlign="space-between end">
                <input type="submit" value="Close">
                <input type="submit" value="Register">
            </div>
        </form>
        

    </div>
    
</body>
</html>
