<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="container" >
        <div class="myform">
            <form>
                <h2>ADMIN LOGIN</h2>
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <div>
                    <button mat-button class="buttonStyleForForget">Forget Password?</button>
                </div><br>
                
                <div  class="loginButton"  fxLayout="row" fxLayoutAlign="space-between end" > 
                    <button>LOGIN</button>
                    <button>CLOSE</button>
                </div>
                
                
            </form>

        </div>
        <div class="image">
            <img src="../../../assets/sticker-png-customer-human-resource-management-payroll-human-resource-management-system-organization-human-resource-consulting-staff-management-business-thumbnail.png">
        </div>

    </div>
</body>

</html>